<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Loved</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.79</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string></string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2018.10.6.12.0</string>
	<key>CodePushDeploymentKey</key>
	<string>xUE63bgJh0TePGtArcSzHjormItp9d964343-89b5-41c9-9d41-a7e1e4734f63</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>1d3753b356dd3db9021c5e1484eecbb3972c3d8c</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>243376489848697</string>
	<key>FacebookDisplayName</key>
	<string>Loved</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
		<string>whatsapp</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This allows you to add photos to personalize your custodial accounts.</string>
	<key>NSContactsUsageDescription</key>
	<string>To get user contacts</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app requires Face ID permission to authenticate using Face recognition.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App required access your location for find out your place in map.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App required access your location for find out your place in map.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This allows you to add photos to personalize your custodial accounts.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Raleway-Thin.ttf</string>
		<string>Raleway-SemiBoldItalic.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-MediumItalic.ttf</string>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-LightItalic.ttf</string>
		<string>Raleway-Light.ttf</string>
		<string>Raleway-Italic.ttf</string>
		<string>Raleway-ExtraLightItalic.ttf</string>
		<string>Raleway-ExtraLight.ttf</string>
		<string>Raleway-ExtraBoldItalic.ttf</string>
		<string>Raleway-ThinItalic.ttf</string>
		<string>Raleway-ExtraBold.ttf</string>
		<string>Raleway-BoldItalic.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-BlackItalic.ttf</string>
		<string>Raleway-Black.tff</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
		<string>Lato-Black.ttf</string>
		<string>Lato-BlackItalic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-BoldItalic.ttf</string>
		<string>Lato-Hairline.ttf</string>
		<string>Lato-HairlineItalic.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-Light.ttf</string>
		<string>Lato-LightItalic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>NanumPenScript-Regular.ttf</string>
		<string>CircularStd-Black.otf</string>
		<string>CircularStd-BlackItalic.otf</string>
		<string>CircularStd-Bold.otf</string>
		<string>CircularStd-BoldItalic.otf</string>
		<string>CircularStd-Book.otf</string>
		<string>CircularStd-BookItalic.otf</string>
		<string>CircularStd-Medium.otf</string>
		<string>CircularStd-MediumItalic.otf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_geuON2AaPgbC1XVV4EglKmfizujl8ODW</string>
		<key>test</key>
		<string>key_test_eftJO0slKcazY9UG2CfxdcdkBvbb6TNh</string>
	</dict>
</dict>
</plist>
